<!-- p-megaMenu [model]="items"></p-megaMenu -->
<sm-menu title="Portal Logístico" class="ui stackable menu" logo="app/feature-areas/main/logoLabMilanes.png">
    <!-- a sm-item href="{{item.link}}" *ngFor="let item of items2" [icon]="item.icon">{{item?.title}}</a -->
    <sm-dropdown class="pointing link" title="Solicitud de Recogida" [options]="{on: 'hover'}">
        <a sm-item href="{{sr.link}}" *ngFor="let sr of srecogida">{{sr.title}}</a>
    </sm-dropdown>
    <a sm-item href="#/asignarMensajero">Asignación de Mensajero</a>
    <sm-dropdown class="pointing link" title="Registro Ingreso a Planta" [options]="{on: 'hover'}">
        <a sm-item href="{{ip.link}}" *ngFor="let ip of iplanta">{{ip.title}}</a>
    </sm-dropdown>
</sm-menu>
<router-outlet></router-outlet>