<h1>
  Asignación de Mensajero
</h1>
<div class="ui grid form">
  <div class="ui grid twelve wide column">
    <div class="fields">
      <div class="five wide field">
        <label for="messenger">Mensajeros:</label>
        <!-- select id="messenger" class="fluid search" [(ngModel)]="ptasks.messenger">
          <option></option>
          <option *ngFor="let msgrs of messengers" value="{{msgrs.id}}">{{ msgrs.firstName }} {{ msgrs.lastName }}</option> 
        </select -->

        <select class="fluid search" id="messenger" class="fluid search" [(ngModel)]="ptasks.messenger">
                <option></option>
                <option>Pedro</option>
                <option>Maria</option>
                <option>Juan</option>
                </select>
      </div>

      <div class="three wide field">
        <label>&nbsp;</label>
        <input type="button" class="ui basic green button" value="Asignar Mensajero" (click)="add()" />
      </div>

    </div>

    <h2>Solicitudes Pendientes por Asignación:</h2>
    <p-dataTable [value]="tmppending" [(selection)]="selectedTasks" [rows]="10" [paginator]="true" [responsive]="true" [emptyMessage]="emptyMessage">
      <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
      <p-column field="rdate" header="Fecha Asignación" [sortable]="true"></p-column>
      <p-column field="client" header="Cliente" [sortable]="true" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
      <p-column field="boffice" header="Agencia Comercial" [sortable]="true"></p-column>
      <p-column field="sender" header="Remitente"></p-column>
      <p-column field="courier" header="Transportadora" [sortable]="true"></p-column>
      <p-column field="address" header="Dirección"></p-column>
    </p-dataTable>

    <h2>Solicitudes Asignadas:</h2>
    <p-dataTable [value]="tmpassigned" [rows]="10" [paginator]="true" [responsive]="true" [emptyMessage]="emptyMessage">
      <p-column field="rdate" header="Fecha Asignación" [sortable]="true"></p-column>
      <p-column field="client" header="Cliente" [sortable]="true" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
      <p-column field="boffice" header="Agencia Comercial" [sortable]="true"></p-column>
      <p-column field="sender" header="Remitente"></p-column>
      <p-column field="courier" header="Transportadora" [sortable]="true"></p-column>
      <p-column field="address" header="Dirección"></p-column>
      <p-column field="messenger" header="Mensajero" [sortable]="true" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains">
      </p-column>

    </p-dataTable>

  </div>
</div>