<p-fieldset legend="Solicitud de Recogida Transportadora">
  <div class="container">
    <h1 class="ui dividing header">
      Datos Transportadora
    </h1>
    <p>
      Ingrese los datos de la llamada del Cliente
    </p>
    <br>
    <form [formGroup]="recogidaTransportadoraForm" class="ui grid form">
      <div class="nine wide column">
        <div class="two fields">
          <div class="field" [ngClass]="{error: recogidaTransportadoraForm.controls.sender.dirty && !recogidaTransportadoraForm.controls.sender.valid}">
            <label for="sender">Nombre Remitente:</label>
            <div class="ui left corner labeled input">
              <input type="text" id="sender" name="sender" placeholder="Nombre Remitente" formControlName="sender" [(ngModel)]="recogidaTransportadora.sender">
              <!-- div [hidden]="recogidaTransportadoraForm.controls.sender.valid">Debe ingresar un Remitente</div -->
              <div class="ui left corner label">
                <i class="asterisk icon"></i>
              </div>
            </div>
          </div>

          <br>
          <div class="field">
            <label>Nombre Cliente:</label>
            <div class="ui left corner labeled input">
              <input type="text" id="clientName" name="clientName" placeholder="Nombre Cliente" formControlName="clientName" [(ngModel)]="recogidaTransportadora.clientName">
              <div class="ui left corner label">
                <i class="asterisk icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="two fields">
          <div class="field" [ngClass]="{error: recogidaTransportadoraForm.controls.branchOffice.dirty && !recogidaTransportadoraForm.controls.branchOffice.valid}">
            <label for="branchOffice">Agencia Comercial: </label>
            <div class="ui left corner labeled input">
              <select class="fluid search" id="branchOffice" name="branchOffice" placeholder="Agencia Comercial" formControlName="branchOffice"
                [(ngModel)]="recogidaTransportadora.branchOffice">
                <option></option>
                <option>Bogotá</option>
                <option>Bucaramanga</option>
                <option>Ibagué</option>
                <option>Medellín</option>
                <option>Montería</option>
                <option>Pasto</option>
                </select>
                <div class="ui left corner label">
                  <i class="asterisk icon"></i>
                </div>
            </div>
          </div>
          <br>
          <div class="field" [ngClass]="{error: recogidaTransportadoraForm.controls.courier.dirty && !recogidaTransportadoraForm.controls.courier.valid}">
            <label for="courier">Transportadora:</label>
            <div class="ui left corner labeled input">
              <input type="text" id="courier" name="courier" placeholder="Transportadora" formControlName="courier" [(ngModel)]="recogidaTransportadora.courier">
              <div class="ui left corner label">
                <i class="asterisk icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="three fields">
          <div class="field" [ngClass]="{error: recogidaTransportadoraForm.controls.guideNumber.dirty && !recogidaTransportadoraForm.controls.guideNumber.valid}">
            <label for="guideNumber">Número de guía:</label>
            <div class="ui left corner labeled input">
              <input type="text" id="guideNumber" name="guideNumber" placeholder="Número de Guía" formControlName="guideNumber" [(ngModel)]="recogidaTransportadora.guideNumber">
              <div class="ui left corner label">
                <i class="asterisk icon"></i>
              </div>
            </div>
          </div>
          <br>
          <div class="field" [ngClass]="{error: recogidaTransportadoraForm.controls.sentDate.dirty && !recogidaTransportadoraForm.controls.sentDate.valid}">
            <label>Fecha de Envío:</label>
            <p-calendar dateFormat="dd/mm/yy" formControlName="sentDate" [(ngModel)]="recogidaTransportadora.sentDate" [maxDate]="maxDate"
              [showIcon]="true" (onSelect)="dateSelected($event)"></p-calendar>
          </div>
          <div class="field" >
            <label>Fecha Estimada de Recogida:</label>
            <p-calendar dateFormat="dd/mm/yy" [minDate]="minDate" [showIcon]="true"></p-calendar>
          </div>
        </div>
        <div class="fields">
          <div class="field">
            <label>Observaciones:</label>
            <textarea id="comments" name="comments" rows="5" cols="30" pInputTextarea></textarea>
          </div>
        </div>
        <div class="ui error message"></div>

        <input type="button" class="ui primary button" value="Crear Solicitud" (click)="generate()" [disabled]="!recogidaTransportadoraForm.valid"
        />
      </div>
    </form>
  </div>
</p-fieldset>