<p-fieldset legend="Solicitud de Recogida Cliente">
  <div class="container">
    <h1 class="ui dividing header">
      Datos del Cliente
    </h1>
    <p>
      Ingrese los datos de la llamada del Cliente
    </p>
    <br>
    <form [formGroup]="recogidaClienteForm" class="ui grid form">
      <div class="nine wide column">
        <div class="two fields">
          <div class="field">
            <label for="name">Nombre Cliente:</label>

            <p-autoComplete [suggestions]="filteredClientSingle" formControlName="name" [(ngModel)]="recogidaCliente.customer.name"
              (completeMethod)="filterClientSingle($event)" field="name" [size]="30" placeholder="Clientes" [minLength]="1"
              (onSelect)="onChange($event)">
              </p-autoComplete>

          </div>
          <div class="field" [ngClass]="{error: recogidaCliente.customer.address.dirty && !recogidaCliente.customer.address.valid}">
            <label for="address">Direcciones:</label>
            <div class="ui left corner labeled input">
              <select id="address" class="ui search dropdown" formControlName="address" [(ngModel)]="recogidaCliente.customer.address">
                <option *ngFor="let ad of addresses" [value]="ad.addressName">{{ad.addressName}}</option>
              </select>
              <div class="ui left corner label">
                <i class="asterisk icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label for="zone">Zona:</label>
            <select class="ui search dropdown" id="zone" name="zone" formControlName="zone" [(ngModel)]="recogidaCliente.customer.zone">
              <option value=""></option>
              <option value="norte">Norte</option>
              <option value="sur">Sur</option>
              <option value="aledanas">Ciudades Aledañas</option>
            </select>
            <!-- input type="text" id="zone" name="zone" formControlName="zone" [(ngModel)]="recogidaCliente.customer.zone" placeholder="Zona"-->
          </div>

          <br>
          <div class="field">
            <label for="quantity">Cant. de Trabajos a Recoger:</label>
            <p-spinner size="3" formControlName="quantity" [(ngModel)]="recogidaCliente.quantity" [min]="1" [max]="100"></p-spinner>
            <!-- input type="number" id="quantity" name="quantity" formControlName="quantity" [(ngModel)]="recogidaCliente.quantity" placeholder="Cantidad" -->
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>Prioridad:</label>
            <div class="ui radio checkbox">
              <input type="radio" name="pickUpPriority" checked="checked">
              <label>Normal</label>
            </div>

            <div class="ui radio checkbox">
              <input type="radio" name="pickUpPriority">
              <label>Urgente</label>
            </div>
          </div>
          <br>
          <div class="field">
            <label>Fecha de Recogida:</label>
            <p-calendar dateFormat="dd/mm/yy" formControlName="pickUpDate" [(ngModel)]="recogidaCliente.pickUpDate" [showIcon]="true" [minDate]="minDate" readonlyInput="readonlyInput" ></p-calendar>
          </div>
        </div>

        <div class="two fields">
          <div class="field">
            <label>¿es Flash?</label>
            <input type="checkbox" id="flash" name="flash" formControlName="flash" [(ngModel)]="recogidaCliente.flash">
          </div>
          <br>
          <div class="field">
            <label>¿Requiere Pago?</label>
            <input type="checkbox" id="paymentRequired" name="paymentRequired" formControlName="paymentRequired" [(ngModel)]="recogidaCliente.paymentRequired">
          </div>
        </div>
        <div class="ui error message"></div>

        <input type="button" class="ui primary button" value="Crear Solicitud" (click)="generate()" [disabled]="!recogidaClienteForm.valid"
        />
      </div>
    </form>
  </div>
</p-fieldset>