    <div>
      <p-dataTable [value]="pendingTasks" selectionMode="single" [(selection)]="selectedRow" [rows]="10" [paginator]="true" [responsive]="true" [emptyMessage]="emptyMessage">
        <header>Solicitudes de Recogida esperando a Ingresar</header>
        <p-column field="cdate" header="Fecha Recogida" [sortable]="true"></p-column>
        <p-column field="client" header="Cliente" [sortable]="true"></p-column>
        <p-column field="boffice" header="Agencia Comercial" [sortable]="true"></p-column>
        <p-column field="sender" header="Remitente" [sortable]="true"></p-column>
        <p-column field="courier" header="Transportadora" [sortable]="true"></p-column>
        <p-column field="messenger" header="Mensajero"></p-column>
        <p-column field="collected" header="Recogido">
            <template let-coll="rowData"  pTemplate="body">
                <a  href="javascript:void(0)" (click)="selected(coll)"><i class="checkmark icon">{{coll.collected}}</i></a>
            </template>
        </p-column>
        <p-column field="received" header="Recibido">
        <template let-rcvd="rowData" pTemplate="body">
            <input type="checkbox" id="received" pCheckBox (click)="packageReceived(rcvd)" name="received">
        </template>
        </p-column>
        <p-column field="receivedDate" header="Fecha Recepción">
           <template let-data="rowData" pTemplate="body">
                <span>{{data.receivedDate | date: 'dd/MM/yy HH:mm:ss'}}</span>
            </template>
        </p-column>
      </p-dataTable>
    </div>
    <router-outlet></router-outlet>
