<h1>
  Ingresos a Planta
</h1>
<!--<section>
  <form>
    <div>
      <button class="ui basic button" (click)="gotoNuevoIngreso()">
        <i class="icon plus"></i>
        Nuevo ingreso a Planta
      </button>
    </div>
    <br>
    <div>
      <p-dataTable [rows]="10" [paginator]="true" [globalFilter]="gb">
        <header>Solicitudes de Recogida esperando a Ingresar</header>
        <p-column field="nombreCliente" header="Nombre Cliente" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="year" header="Tipo Ingreso"></p-column>
        <p-column field="brand" header="Mensajero"></p-column>
        <p-column field="color" header="Transportadora" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="color" header="No. Guía"></p-column>
        <p-column field="color" header="Fecha Recepción" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="color" header="Fecha Recogida" [filter]="true" filterPlaceholder="Search"></p-column>
      </p-dataTable>

    </div>
  </form>
</section>-->
<p-tabView>
  <p-tabPanel header="Solicitudes Pendientes por Ingreso">
    <div>
      <p-dataTable [rows]="10" [paginator]="true" [globalFilter]="gb">
        <header>Solicitudes de Recogida esperando a Ingresar</header>
        <p-column field="nombreCliente" header="Nombre Cliente" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="year" header="Tipo Ingreso"></p-column>
        <p-column field="brand" header="Mensajero"></p-column>
        <p-column field="color" header="Transportadora" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="color" header="No. Guía"></p-column>
        <p-column field="color" header="Fecha Recepción" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="color" header="Fecha Recogida" [filter]="true" filterPlaceholder="Search"></p-column>
      </p-dataTable>

    </div>
  </p-tabPanel>
  <p-tabPanel header="Nuevo Ingreso a Planta - Cliente">
    <app-ingreso-cliente></app-ingreso-cliente>
  </p-tabPanel>
  <p-tabPanel header="Nuevo Ingreso a Planta - Transportadora">
    <app-ingreso-transportadora></app-ingreso-transportadora>
  </p-tabPanel>
</p-tabView>