<p-fieldset legend="Ingreso a Planta - Transportadora">
  <div class="container">
    <h1 class="ui dividing header">
      Datos Transportadora
    </h1>
    <p>
      Ingrese los datos del trabajo o paquete recibido
    </p>
    <br>

    <form [formGroup]="ingresoTransportadoraForm" class="ui grid form">
      <div class="nine wide column">
        <div class="two fields">
          <div class="field" [ngClass]="{error: ingresoTransportadoraForm.controls.clientName.pristine || ingresoTransportadoraForm.controls.clientName.dirty && !ingresoTransportadoraForm.controls.clientName.valid}">
            <label for="clientName">Nombre Cliente:</label>
            <input type="text" id="clientName" name="clientName" formControlName ="clientName" placeholder="Nombre Cliente" [(ngModel)]="ingresoTransportadora.clientName">
          </div>
          <br>
          <div class="field" [ngClass]="{error: ingresoTransportadoraForm.controls.courier.pristine || ingresoTransportadoraForm.controls.courier.dirty && !ingresoTransportadoraForm.controls.courier.valid}">
            <label for="courier">Transportadora:</label>
            <input type="text" id="courier" name="courier" formControlName ="courier" placeholder="Transportadora" [(ngModel)]="ingresoTransportadora.courier">
          </div>
        </div>
        <br>
        <div class="two fields">
          <div class="field" [ngClass]="{error: ingresoTransportadoraForm.controls.guideNumber.pristine || ingresoTransportadoraForm.controls.guideNumber.dirty && !ingresoTransportadoraForm.controls.guideNumber.valid}">
            <label for="guideNumber">Número de guía:</label>
            <input type="text" id="guideNumber" name="guideNumber" formControlName ="guideNumber" placeholder="Número de Guía" [(ngModel)]="ingresoTransportadora.guideNumber">
          </div>
          <br>
          <div class="field" [ngClass]="{error: ingresoTransportadoraForm.controls.receivedDate.dirty && !ingresoTransportadoraForm.controls.receivedDate.valid}">
            <label>Fecha de Recepción:</label>
            <!-- input type="text" id="receivedDate" name="receivedDate" value="{{receivedDate | date: 'dd/MM/yyyy'}}" formControlName ="receivedDate" [(ngModel)]="ingresoTransportadora.receivedDate" -->
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" [required]="true" [disabled]="true" formControlName ="receivedDate" [(ngModel)]="receivedDate"></p-calendar>
          </div>
        </div>
        <input type="button" class="ui primary button" value="Registrar" (click)="register()" [disabled]="!ingresoTransportadoraForm.valid"/>
      </div>
    </form>
  </div>
</p-fieldset>